/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* custom style */
body{
  box-sizing: border-box;
  line-height: 1.5;
}
header{
  background-color: rgb(7, 22, 76);
  text-align: center;
  padding: 30px;
  margin-bottom: 40px;
}
main {
  margin: 30px;
}
.home{
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding: 10px;
}
.blog{
  color: green;
  text-decoration: none;
  font-size: 25px;
  padding: 10px;
}
h2 {
  font-size: 25px;
  color: rgb(6,20,69);
  text-align: start;
  font-weight: bold;
}
p{
  font-size: 20px;
}
.p1{
  text-align: left;
}
button{
  background-color:rgb(23,187,61);
  border-radius:40px;
  margin-right: 422px;
  color: white;
  padding: 12px 30px;
  border: 0;
  margin-top: 10px;
}
img {
  width: 550px;
  height: 400;
}
.featured-article {
  
  width: 1400px;
  display: inline-block;
  text-align: center;
}
.article-info {
  
  display: inline-block;
  width: 550px;
  vertical-align: top;
  height: 400;
  margin-left: 50px;
}
.inline {
  display: inline-block;
  margin:50px;
  text-align: start;
}
.article-2 {
  height: 678.47;
  width: 550px;
  margin-left: 70px;
  display: inline-block;
}
.article-3 {
  width: 550px;
  margin-left: 50px;
  display: inline-block;
}
.inline, img{
  display: inline-block;
}
.link{
  color:rgb(23,187,61);
  font-size: 20px;
}
